@import "components/auth", "components/courses", "components/dashboard", "components/nav", "components/my-courses";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

ul {
	list-style: none;
}

button {
  cursor: pointer;
}

body {
	background-color: rgb(241, 241, 241);
}

.wrap {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white
}

